*{
    box-sizing:border-box ;
    font-family: "Fira Sans", sans-serif;
}

body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}


a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;

}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20 auto;
    width: 70px;
}
/*for mobile must*/
[class*="col-"]
{
    float: left;
    padding: 10px;

}

/*for mobile must*/
[class*"col-"]{
    width: 100%;}
     
 /*navbar starts from here---> */

.navbar{
    background-color: #40868b;
    padding: 1% 7%;
    text-align: center;
}

.navbar img{
    border-radius: 50%;
    border: none;
}

.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;

}

.navbar-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: gray;
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}
 /*navbar ends here---> */

/* profile design starts here */

.profile{
    padding:130px 10px ;
    position: relative;
    text-align: center;
}

.profile .top-weather-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover{
    transform: rotate(360deg);
}

.profile-desc h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.profile-desc p {
    color: grey;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;
}


.profile .bottom-weather-icon{
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
}

.profile ::after{
    content: '';
    display: table;
    clear: both;
}

/* profile design ends here */

/* about me begins here */
.about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-me p{
    text-align: center;
}
.about-me a{
    font: size 1.2rem;

}

.CV-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;

}
.about-me::after{
    clear: both;
    display: table;
    content: '';
}

/* about me ends here */


/* profession experiences starts here */
.professional-experience{
    padding: 1% 0%;

}

.professional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 550px ;

}

.card:hover{
    box-shadow: 0 4px 8px 5px black;
}

.professional-experience::after{
    clear: both;
    display: table;
    content: '';
}

.card-icon{
    text-align: center;
}

.card-icon img{
    margin-top: 20px;
    width: 100px;
}

.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    padding: 5px;

}

.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}

.card-description {
    color: #052d2f;
    text-align: left;
}

.skills-container{
    padding-right: 45px;

}

.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}
  /* before animation */


.skills-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left : 0px;
    width: 100%;
    height:10px;
    border-radius: 1000px;
    background-color: rgb(86,86,153,.5);


}

.skills-container li.html::after{
    animation-name: html;
}

@keyframes html{
    to{
        width: 90%;

    }
}

.skills-container li.css::after{
    animation-name: css;
}
@keyframes css {

    to{
       width: 80%;
    }
    
}
.skills-container li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap {
    to{
        width: 85%;
    }
}

.skills-container li.javascript::after{
    animation-name: javascript;
}
@keyframes javascript {
    to{
        width: 50%
    }
}

.skills-container li.python::after{
    animation-name: python;
}
@keyframes python {
    to{
        width: 70%
    }
}

.skills-container li.django::after {
    animation-name: django;
}
@keyframes django{
    to{
        width: 70%
    }
}


/* after animation */

.skills-container li::after{
    content: '';
    top: calc(100% + 5px);
    width:0%;
    height: 10px;
    left: 0px;
    position:absolute;
    background-color:rgb(86,86,153,1);


                /* animation */
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;


}


/* profession experiences ends here */

/* achivemet-contact starts here */


.achivement-contact{
    padding: 1% 7%;
    background-color: #39a4ac;
    color: white;

}

.achivement p{
    text-align: left;
    color: white;
}

.contact {
    text-align: center ;

}

.contact input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact button{
    border: none;
    border-radius: 12px;
    background-color: #052d2f;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100PX;
}

.contact-list{
    text-align: center;
}

.media-button .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 100px;
    background-color: white;
    

}

.btn:hover{
    background-color:grey;
}


.achivement-contact::after{
    clear: both;
    display: table;
    content: '';
}



/* achivemet-contact ends here */

/* footer design starts here */
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;

}

.footer-menu a{
    display: block;
    margin: 15px;
    font-size: 1rem;
}


.footer-menu a:hover{
    color: gray;
}

.footer::after{
    clear: both;
    display: table;
    content: '';
}

/* footer design endss here */